

#main {
    overflow-y: auto;
    width: 100vw;
    left: 0;
    right: 0;
}

.center {
    display: block;
    margin: auto;
    width: 50%;
    padding: 0;
    border-radius: 10%;
}

#app {
    width: 100%;
    height: 100%;
    display: flex;
}

#homepage-text {
    width: 100%;
    min-height: 30%;
}

.card {
    box-shadow: 0 3px 20px rgb(0 0 0 / 0.7);
}

.big-image {
    width: 400px;
    height: 400px;
    object-fit: cover;
}

@media screen and (max-width: 600px) {
    .big-image {
        width: 180px;
        height: 180px;
        object-fit: cover;
    }
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.horizontal-center {
     margin: 0;
     position: absolute;
     top: 50%;
     -ms-transform: translateY(-50%);
     transform: translateY(-50%);
 }
html, body {
      max-width: 100vw;
      min-height: 100vh;
      margin: 0;
      padding: 0;
      background: #2b2d30;
      color: antiquewhite;
  }